.container-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 350px;
    min-height: 100vh;
    border-right: 1px solid rgb(73 73 73);
}

.menu {
    width: 74%;
    padding: 1rem;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.logo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 1rem;
}

.logo-menu:hover {
    background-color: rgb(73 73 73);
    border-radius: 50px;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.menu-item {
    color: white;
    text-align: start;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
}

.menu-item:hover {
    background-color: rgb(73 73 73);
    border-radius: 50px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-tweet {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.menu-tweet a {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(26, 25, 25);
    font-size: 18px;
    font-weight: bold;
}

.continer-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .8rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease;
}

.continer-user:hover {
    background-color: rgb(73 73 73);
}

.continer-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.data-user {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.data-user h3 {
    color: white;
    font-size: 15px;
}