#root{
  max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.suggestions::-webkit-scrollbar {
  display: none;
  /* Esto oculta la barra de desplazamiento */
}

.scoll {
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}